<div class="oj-flex">  
    <div class="oj-flex-item">
        
        <h1>Create vacancy</h1>
        
        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">  
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="positionSelection">HCM Position</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="positionSelection" 
                                       options="[[positions]]" 
                                       value="{{position}}"
                                       placeholder="" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="managerSelection">HCM Line Manager</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-select-one id="managerSelection" 
                                       options="[[managers]]" 
                                       value="{{manager}}"
                                       placeholder="" />
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item"></div>
                    <div class="oj-flex-item">
                        <oj-button id="submitVacancy" on-click="[[submitVacancy]]">Submit</oj-button>
                    </div>
                </div>
            </div>    
        </div>

        <h1>Hire employee</h1>

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">  
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="firstName">First Name</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="firstName" value="{{firstName}}" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="lastName">Last Name</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="lastName" value="{{lastName}}" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="nationalId">National ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="nationalId" value="{{nationalId}}" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="positionId">Position ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="positionId" value="{{positionId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="businessUnitId">Business Unit ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="businessUnitId" value="{{businessUnitId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="departmentId">Department ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="departmentId" value="{{departmentId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="jobId">Job ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="jobId" value="{{jobId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="locationId">Location ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="locationId" value="{{locationId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="gradeId">Grade ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="gradeId" value="{{gradeId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="gradeStepId">Grade Step ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="gradeStepId" value="{{gradeStepId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="gradeLadderId">Grade Ladder ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="gradeLadderId" value="{{gradeLadderId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="fullPartTime">Full / Part Time</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="fullPartTime" value="{{fullPartTime}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="regularTemporary">Regular / Temporary</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="regularTemporary" value="{{regularTemporary}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="managerId">Manager ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="managerId" value="{{managerId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="managerAssignmentId">Manager Assignment ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="managerAssignmentId" value="{{managerAssignmentId}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <oj-label for="salaryAmount">Salary Amount</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="salaryAmount" value="{{salaryAmount}}" disabled="true" />
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item"></div>
                    <div class="oj-flex-item">
                        <oj-button id="submitEmployee" on-click="[[submitEmployee]]">Submit</oj-button>
                    </div>
                </div>
            </div>    
        </div>
        
        <h1>Get employee</h1>

        <div class="oj-form-layout">
            <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">  
                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <oj-label for="personId">Person ID</oj-label>
                    </div>
                    <div class="oj-flex-item">
                        <oj-input-text id="personId" value="{{personId}}" />
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-flex-item"></div>
                    <div class="oj-flex-item">
                        <oj-button id="getEmployee" on-click="[[getEmployee]]">Submit</oj-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="oj-flex-item" style="width: 500px">
        <h1>REST requests details</h1>
        <oj-accordion multiple="true">
            <oj-collapsible>
                <span slot="header">Get positions 
                    <span data-bind="visible: getPositionsProgress">
                        <oj-progress id="getPositionsProgress" type="circle" value="-1" />
                    </span>
                </span>
                <div>
                    <h3>Request</h3>
                    <pre data-bind="text: getPositionsRequest" />
                    <h3>Response</h3>
                    <pre data-bind="text: getPositionsResponse" />
                </div>
            </oj-collapsible>
            <oj-collapsible>
                <span slot="header">Get managers 
                    <span data-bind="visible: getManagersProgress">
                        <oj-progress id="getManagersProgress" type="circle" value="-1" />
                    </span>
                </span>
                <div>
                    <h3>Request</h3>
                    <pre data-bind="text: getManagersRequest" />
                    <h3>Response</h3>
                    <pre data-bind="text: getManagersResponse" />
                </div>
            </oj-collapsible>
            <oj-collapsible>
                <span slot="header">Get grade ladder 
                    <span data-bind="visible: getGradeLadderProgress">
                        <oj-progress id="getGradeLadderProgress" type="circle" value="-1" />
                    </span>
                </span>
                <div>
                    <h3>Request</h3>
                    <pre data-bind="text: getGradeLadderRequest" />
                    <h3>Response</h3>
                    <pre data-bind="text: getGradeLadderResponse" />
                </div>
            </oj-collapsible>
            <oj-collapsible>
                <span slot="header">Create employee 
                    <span data-bind="visible: createEmployeeProgress">
                        <oj-progress id="createEmployeeProgress" type="circle" value="-1" />
                    </span>
                </span>
                <h3>Request</h3>
                <pre data-bind="text: createEmployeeRequest" />
                <h3>Response</h3>
                <pre data-bind="text: createEmployeeResponse" />
            </oj-collapsible>
            <oj-collapsible>
                <span slot="header">Get employee 
                    <span data-bind="visible: getEmployeeProgress">
                        <oj-progress id="getEmployeeProgress" type="circle" value="-1" />
                    </span>
                </span>
                <h3>Request</h3>
                <pre data-bind="text: getEmployeeRequest" />
                <h3>Response</h3>
                <pre data-bind="text: getEmployeeResponse" />
            </oj-collapsible>
        </oj-accordion>
    </div>        
</div>
<oj-dialog style="display:none" id="employeeDialog" title="Employee created">
    <div slot="body">
        Successfully create employee with ID <span data-bind="text: personId" />
    </div>
    <div slot="footer">
        <oj-button id="okButton" data-bind="click: function() {
                  document.querySelector('#employeeDialog').close();
                }">  OK
        </oj-button>
    </div>
</oj-dialog>